<% @params %>
<h3> Add a New Restaurant </h3>

<form action='/createnewrestaurant' method='post' >
  <table>
  <tr>
    <td> Name </td> 
    <td> <input name='name' type='text'> </td>
  </tr>

  <tr>
    <td> City </td>
    <td> <input name='city' type='text'> </td>
  </tr>

  <tr>
    <td> Cuisine </td>
    <td> <input name='cuisine' type='text'> </td>
  </tr>

  <tr>
    <td> Expensive (enter true or false) </td>
    <td> <input name='expensive' type='text'> </td>
  </tr>

  <tr>
    <td> <input type='submit' class='btn btn-primary'> </td>
    <td> </td>
  </tr>
  </table>
</form>
