<% params[:id] %>
<br>
<h3> Add a New RReview </h3>
<form action='/create' method='post' >
  <table>
  <tr>
    <td> Name </td> 
    <td> <input name='name' type='text'> </td>
  </tr>

  <tr>
    <td> Title </td>
    <td> <input name='title' type='text'> </td>
  </tr>

  <tr>
    <td> Description </td>
    <td> <input name='description' type='text'> </td>
  </tr>

  <tr>
    <td> Star </td>
    <td> <input name='star' type='text'> </td>
  </tr>

  <tr>
    <td> <input type='submit' class='btn btn-primary'> </td>
    <td> <input type='hidden' name='restaurant_id' value=<%= @the_restaurant_id %> > </td>
  </tr>
  </table>
</form>
